.search-results-box {
    position: absolute;
    display: grid;
    width: 90%;
    background-color: #ecece9;
    border-radius:7px;
    margin-top: .1rem;
    z-index: 1;
    border: solid #739ff0;

}

.get-results-container {
    display: flex;
    flex-direction: row;
    border-radius: 7px;
    object-fit: contain;
    background-color: #ecece9;
}

.results-image {
    justify-self: flex-start;
    height: 6rem;
    width: 12.5%;
    margin-left: .5%;
}

.search-results {
    position: relative;
    background: transparent;
    color: black;
    width: 87%;
    justify-self: flex-end;
    align-content: center;
    text-align: center;
    overflow:hidden;
    font-size: x-large;
    border-top: solid 1px #929292;
}

.get-results-container:hover {
    background-color: #929292;
}